.card-container {
  box-sizing: border-box;
  width: 362px;
  height: 408px;
  background: #f8f9fb;
  border-radius: 20px;

  .card-top {
    .card-img {
      width: 360px;
      height: 220px;
      border-radius: 20px 20px 0px 0px;
    }
  }

  .card-bottom {
    height: 188px;
    padding: 20px 40px 40px 40px;

    .card-title {
      width: 282px;
      height: 58px;
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      color: #010f32;
    }

    .card-button {
      margin-top: 15px;
    }
  }
}

.card-container:hover {
  border: 2px solid #0072f5;
}
