.section-4-container {
  width: 1440px;
  height: 618px;
  background: white;
  margin-top: 80px;

  .top {
    margin-bottom: 70px;
    .top-1 {
      font-weight: 700;
      font-size: 38px;
      line-height: 36px;
      color: #010f32;
      text-align: center;
    }
    .top-2 {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #748db1;
      margin-top: 20px;
    }
    .top-3 {
      box-sizing: border-box;
      width: 950px;
      height: 80px;
      background: #ffffff;
      border: 1px solid #f0f1f3;
      border-radius: 15px;
      margin: 40px auto;
      display: flex;
    }
  }
}
