.social-media-container {
  .top-3-1 {
    box-sizing: border-box;
    width: 248px;
    height: 78px;
    display: flex;

    .top-3-1-1 {
      margin: 15px 10px 15px 39px;
    }
    .top-3-1-2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #010f32;
      margin-top: 16px;

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #3a62ff;
        margin: 0;

        span {
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          color: #748db1;
        }
      }
    }
  }
}
