.section-3-container {
  position: absolute;
  width: 1440px;
  height: 618px;
  left: 0px;
  top: 1591px;
  padding: 80px;
  box-sizing: border-box;
  background: #f8f9fb;

  .top {
    .top-1 {
      h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 36px;
        text-align: center;
        margin: 0;
        color: #010f32;
      }
    }
  }

  .middle {
    display: flex;
    grid-gap: 35px;
    justify-content: center;
  }

  .bottom {
    box-sizing: border-box;
    width: 754px;
    height: 100px;
    background: #ffffff;
    border-radius: 15px;
    margin: 35px auto;
    display: flex;
    // padding: 10px;

    .bottom-1 {
      font-weight: 800;
      font-size: 60px;
      line-height: 88px;
      color: #ffa63a;
      margin: 5px 5px 5px 20px;
    }
    .bottom-2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      color: black;
      margin-top: 20px;

      span {
        color: #3a62ff;
      }
    }
    .bottom-3 {
      position: absolute;
      width: 30px;
      height: 95px;
      left: 1047px;
      top: 435px;
      background: url("../../assets/section-3/im.png");
    }
  }
}
